.exrc
.precomp/
lib/.precomp/
t/.precomp/
resources/masters/*.bin
resources/images/piece/alpha
resources/images/piece/anarcandy
resources/images/piece/caliente
resources/images/piece/california
resources/images/piece/cardinal
#resources/images/piece/cburnett
resources/images/piece/celtic
resources/images/piece/chess7
resources/images/piece/chessnut
resources/images/piece/companion
resources/images/piece/cooke
resources/images/piece/disguised
resources/images/piece/dubrovny
resources/images/piece/fantasy
resources/images/piece/fresca
resources/images/piece/gioco
resources/images/piece/governor
resources/images/piece/horsey
resources/images/piece/icpieces
resources/images/piece/kiwen-suwi
resources/images/piece/kosal
resources/images/piece/leipzig
resources/images/piece/letter
resources/images/piece/maestro
resources/images/piece/merida
resources/images/piece/monarchy
resources/images/piece/mono
resources/images/piece/mpchess
resources/images/piece/pirouetti
resources/images/piece/pixel
resources/images/piece/reillycraig
resources/images/piece/rhosgfx
resources/images/piece/riohacha
resources/images/piece/shapes
resources/images/piece/spatial
resources/images/piece/staunty
resources/images/piece/tatiana
resources/images/piece/xkcd
